/* Устанавливаем стили тэгу <select> */
select{
    /* Габариты поля выбора */
    /* Ширина */
    width: 600px;
    /* Высота */
    height: 50px;

    /* Настройки шрифта */
    /* Кегль и семейство шрифта */
    font: 16px sans-serif;
    /* Жирность */
    font-weight: bold;
    /* Цвет текста */
    color: #666;

    /* Настройки рамки */
    /* Скругление по краям */
    border-radius: 5px;
    /* Цвет рамки */
    border-color: lightgrey;
    /* Ширина рамки */
    border-width: 1px;

    padding: 15px;
}